.intro__title {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.911);
    
    text-align: center;
    margin: 0;
}